<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="../../../static/css/stylesAdmin.css" rel="stylesheet" th:href="@{/css/stylesAdmin.css}" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<style>
    .mainPhai {
        display: none;
    }
</style>
<body class="sb-nav-fixed">
<!--phần chung-->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Start Bootstrap</a>
    <button
            class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">
                    <form action="#" th:action="@{/logout}" method="POST">
                        <button style="border: none;background: none;" type="submit">Logout</button>
                    </form>
                </a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" th:href="@{/admin/nhanvien/}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Quản lý chung</div>
                    <a class="nav-link collapsed active" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Phim
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/admin/nhanvien/xe/{id}(id=${IdNhanVien})}">Thể loại</a>
                            <a class="nav-link active" th:href="@{/admin/nhanvien/tuyenxe/{id}(id=${IdNhanVien})}">Diễn viên</a>
                            <a class="nav-link" th:href="@{/admin/nhanvien/lichchay/{id}(id=${IdNhanVien})}">Phim</a>
                            <a class="nav-link" th:href="@{/admin/nhanvien/khach/{id}(id=${IdNhanVien})}">Tin tức</a>
                        </nav>
                    </div>
                    <!--                        hết quản lý phim-->
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts2"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Lịch phim
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne"
                         data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/admin/nhanvien/xe/{id}(id=${IdNhanVien})}">Danh sách</a>
                            <a class="nav-link" th:href="@{/admin/nhanvien/tuyenxe/{id}(id=${IdNhanVien})}">Danh sách đã chiếu</a>
                        </nav>
                    </div>
                    <!--                        hết quản lý lịch phim-->
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Nhân viên
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link " href="layout-static.html">Nhân viên bán vé</a>
                            <a class="nav-link" href="layout-static.html">Nhân viên check vé</a>
                            <a class="nav-link" href="layout-static.html">Nhân viên bán nước</a>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Doanh thu</div>
                    <a class="nav-link" th:href="@{/admin/danhsachcommemt}">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Chat
                    </a>

                </div>
            </div>

        </nav>
    </div>
    <!-- hết phần chung-->

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Danh sách thể loại phim</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html" th:href="@{/admin/staff/}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Phim</li>
                    <li class="breadcrumb-item active"><a href="index.html" th:href="@{/admin/staff/category/}">Danh sách thể loại phim</a></li>
                    <li class="breadcrumb-item active">Sửa</li>
                </ol>

                <div class="card mb-4 d-flex">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class=" mr-auto" style="padding-top: 5px;"><i class="fas fa-table mr-1"></i>
                                Danh sách</div>
                            <div class="">
                                <div class="btn btn-primary" id="themMoi">Thêm mới</div>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6" id="mainTrai">
                                    <div class="card">
                                        <div class="card-header  text-center">
                                            <div class="text-center">Sửa</div>
                                        </div>
                                        <div class="card-body ">
                                            <form action="#" th:action="@{/admin/staff/category/insert/{id}(id=${IdNhanVien})}" method="POST">
                                                <div class="form-row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>ID:</label>
                                                            <input type="text" class="form-control form-control-sm" th:value="@{${ItemCategory.id}}" readonly  name="idCategory">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label>Tên:</label>
                                                            <input type="text" class="form-control form-control-sm" th:value="@{${ItemCategory.name}}"   name="nameCategory">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <a style="color:white" th:href="@{/admin/staff/category/}" class="p-2 btn btn-primary">Trở về</a>
                                                    <button type="submit" class="p-2 ml-auto btn btn-primary">Lưu</button>
                                                </div>
                                              
                                            </form>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-6 mainPhai" id=mainPhai>
                                <div class="card">
                                    <div class="card-header  text-center">
                                        <div class="text-center">Thêm mới</div>
                                    </div>
                                    <div class="card-body ">
                                        <form action="#" th:action="@{/admin/staff/cast/insert/{id}(id=${IdNhanVien})}" method="POST" enctype="multipart/form-data">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Tên:</label>
                                                        <input type="text" class="form-control form-control-sm"   name="nameCast">
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label>Ảnh:</label>
                                                        <input class="form-control-file" type="file" name="files"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-block">Thêm</button>
                                        </form>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="../../../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="../../../static/assets/demo/chart-area-demo.js"  th:src="@{/assets/demo/chart-area-demo.js}"></script>
<script src="../../../static/assets/demo/chart-bar-demo.js" th:src="@{/assets/demo/chart-bar-demo.js}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="../../../static/assets/demo/datatables-demo.js" th:src="@{/assets/demo/datatables-demo.js}"></script>

<script>

        $(document).ready(function () {
            $("#mainPhai").hide();
            var dem = 0;
            $("#themMoi").click(function () {
                if (dem == 0) {
                    $("#mainTrai").hide();
                    $("#mainPhai").show();
                    $("#themMoi").html("Đóng");
                    dem = 1;
                } else {
                    $("#mainTrai").show();
                    $("#mainPhai").hide();
                    $("#themMoi").html("Thêm mới");
                    dem = 0;
                }
            });

        });
    </script>
</body>

</html>